{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12 mb-3">
        <strong>Here's the plan</strong> <br>
        Client requests public key <br>
        Server generates a public/private key pair and sends the pair id and the public key, storing the private key in a database <br>
        Client generates symetric AES key and encrypts message <br>
        Client encryptes AES key with public key <br>
        Client sends `${encrypted_aes_key_length:base16}${encrypted_aes_key:base64}${encrypted_message:base64}` <br>
        Server decrypts and returns result, deletes key pair on success
    </div>
    <div class="col-12 mb-3">
        <label for="message">Message</label>
        <form id="form">
            <textarea type="text"
                      class="form-control"
                      id="message"
                      name="message"
                      placeholder="Type your message here..."
                      required>Hello World!</textarea>
            <div class="invalid-feedback">Message is required</div>
    </div>
    <div class="col-12 mb-3">
        <button type="submit"
                class="btn btn-success btn-block">Encrypt and Send</button>
        </form>
    </div>
    <div class="col-12 mb-3 collapse" id="rsa_key_wrapper">
        <label for="rsa_key">Public RSA Key</label>
        <textarea type="text" id="rsa_key"
                  class="form-control"
                  placeholder="Public RSA Key"
                  disabled></textarea>
    </div>
    <div class="col-12 mb-3 collapse" id="aes_key_wrapper">
        <label for="aes_key">AES Key</label>
        <textarea type="text" id="aes_key"
                  class="form-control"
                  placeholder="AES Key"
                  disabled></textarea>
    </div>
    <div class="col-12 mb-3 collapse" id="payload_wrapper">
        <label for="payload">Encrypted Payload</label>
        <textarea type="text" id="payload"
                  class="form-control"
                  placeholder="Payload"
                  disabled></textarea>
    </div>
    <div class="col-12 mb-3 collapse" id="response_wrapper">
        <label for="response">Server Decrypted</label>
        <textarea type="text" id="response"
                  class="form-control"
                  placeholder="Server decrypted and got this message"
                  disabled></textarea>
    </div>
</div>
{% endblock %}
